<div class="container">

    <div class="img">
    <img src="assets/me.jpg" alt="">
</div>
<div class="content">

    <p>Hey first of all thank you , you come to this section and shows interest in me.</p>
    
   <b> My name is satyendra kannaujiya and I'm currently working as a full time software engineer for a MNC in India.</b>
    <br>

    <p>I have completed my Graduation from Banaras hindu university and masters from National <br>
       institute of technology Allahabad.
    </p>

    <p>

        I mostly work with web technology like HTML,CSS,Javascript,PHP,AngularJS,NodeJS,MEAN Stack,etc.
    </p>
    <p>
        On this page I share my learning and thought ,although  I am not expert but I believe every developer should have 
        their own blog because everyone have their unique angle and perspective on something that worth sharing. 

    </p>

</div>


</div>