p{
    border: 2px solid black !important;
    /* background-color: red; */
}
mat-card-content{
    /* border: 2px solid black; */
    height: 60px;
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
mat-card{
    margin: 10px;
    width: 400px;
    max-width: 100%;
    height: 300px !important;
    border: 0.1px solid blueviolet;
}
h4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
a:hover{
    color: blue !important;
}
.blog-list{
    /* border:  2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.description{
    /* border: 2px solid black; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (max-width: 600px) {
    mat-card{
        width: 300px;
    }
}