<h4>Blogs</h4>
<hr>
<mat-card *ngFor="let post of posts">
    <mat-card-title color="primary">{{post?.title | titlecase}}
     <div>
        <a  mat-button  [routerLink]="['/edit',post._id]"><i class="material-icons md-18">edit</i></a>
        <a  mat-button  (click)="deleteBlog(post._id)"><i class="material-icons md-18">delete</i></a>
     </div>
    </mat-card-title>
    <mat-card-subtitle color="secondary">posted by {{post?.posted_by | lowercase}} , {{post?.createdAt | timeAgo}}</mat-card-subtitle>
    <mat-card-subtitle class="description" color="primary">{{post?.description}}</mat-card-subtitle>
   
    <mat-card-content [innerHTML]="post?.blog">
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="end center">
       &nbsp; <a [routerLink]="['/blog',post._id]" style="cursor: pointer;">Read more</a>
      </mat-card-actions>
     
</mat-card>